@import './reset.scss';
// #accont{background:#f2f2f2;
.atb{
     width:rem(375px);
     box-sizing:border-box;
    height:rem(48px);
    padding:0 rem(8px);
    display:flex;
    position:fixed;
    top:0px;
    justify-content:space-between;
    align-items:center;
    background-color:#89be48;
    .fa.fa-chevron-left{
    color:#fff;
    font-size:rem(26px);
     }
    .accont{
     line-height:rem(48px);
    font-size:rem(22px);
    text-align: center;
    color: #fff;
    width: 80%;
    height:rem(48px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

}
.aCenters{
    width:rem(375px);
    height:rem(431px);
    margin-top:rem(48px);
    // background-color:#58bc58;
    box-sizing:border-box;
    // padding:0 rem(8px);
.pay{width:rem(375px);height:rem(396px);
.address,{width:rem(375px);
    height:rem(65px);
    background-color:#FFF;
    display:flex;justify-content:space-between;
    align-items:center;
    font-size:rem(18px);
    padding-left:rem(8px);
    margin-bottom:rem(5px);
    .fa.fa-map-marker{
        font-size:rem(24px);
        color:#89be48;
        margin-right:rem(3px);
    }
    .fa.fa-angle-right{

        width:rem(18px);
        height:rem(36px);
        font-size:rem(30px);
        line-height:rem(36px);color:#ccc;
        padding-right:rem(8px);
       }
}
}
.time{
   width:rem(375px);
    height:rem(65px);
    background-color:#FFF;
    display:flex;justify-content:space-between;
    align-items:center;
    font-size:rem(18px);
    padding-left:rem(8px);
    margin-bottom:rem(5px); 
    .fa.fa-angle-right{
        width:rem(18px);
        height:rem(36px);
        font-size:rem(30px);
        line-height:rem(36px);color:#ccc;
        padding-right:rem(8px);
       }
}
.method,.fp,.zf{
    width:rem(374px);height:rem(51px);
    background:#fff;border-bottom:1px solid #ccc;padding-left:rem(8px);
    line-height:rem(51px);

}
.fp{
    display:flex;justify-content:space-between;
    .fa.fa-angle-right{
        width:rem(18px);
        height:rem(36px);
        font-size:rem(30px);
        line-height:rem(36px);color:#ccc;
        padding-right:rem(8px);
       }
    .no{margin-left:rem(133px);}
}
.zhifu{padding-left:rem(283px);font-size:rem(30px);color:#ccc;}
}
.know{width:rem(375px);height:rem(40px);background-color:#f2f2f2;line-height:rem(40px);padding-left:rem(8px);box-sizing:border-box;a{color:rgb(5, 132, 245);padding-left:rem(5px);}}
.aFooter{
    width:rem(375px);
    height:rem(55px);
    background-color:red;
    position:fixed;
    z-index:9999px;
    box-sizing:border-box;
.aleft{width:rem(255px);height:rem(48.8px);float:left;padding-top:rem(3px);}
.aright{
    width:rem(112.5px);
    height:rem(55px);
    background-color:#89be48;
    text-align:center;
    float:right;
    color:#fff;
    font-size:rem(16px);
    padding-left:rem(8px);
}
}

// }
