@import './reset.scss';
.Top{
    width:100%;
    height:rem(48px);
    background-color:#89be48;
    position: fixed;
    left:0;
    top:0;
    z-index: 5;
i{float:left;
    position:absolute;
    top:rem(12px);
    left:rem(0px);
    font-size:rem(20px);
    line-height:rem(32px);
    color:#fff;
}
.header-title{
    margin: 0 auto;
     line-height:rem(48px);
    font-size:rem(20px);
    text-align: center;
    color: #fff;
    width: 80%;
    height:rem(50px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
}
.login-wrap{
    width: 100%;
    height:rem(51.59px);
    background-color: #f0fae6;
    font-size:rem(12px);
    padding:rem(12px),rem(14px);
    margin-top: rem(48px);

 .login{

    width: 100%;
    height:rem(48px);
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    color: #333;
    line-height: 1.5rem;
   }
   .logins{
    color:#88c13e;;
    display:block;
    float:left;
    text-align: center;
    background: #fff;
    border: 1px solid #8bc146;
    width:rem(65px);
    height:rem(33px);
    font-size: rem(16px);
    line-height: rem(33px);
    margin-left: rem(13px);
    margin-top:rem(10px);
   }
   .tips{
    display:block;
    float:left;
    padding-left:14px;
    font-size:rem(14px);
    line-height: rem(26px);
     color: #333;
    width:rem(277px);
    height:rem(36px);
   }
}
.change{
    padding:rem(12px);
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
.ipts{
     padding-left:rem(10px);
    width:rem(261px);
    height:rem(35.59px);
    line-height:rem(35.59px);
    display: inline-block;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    background: #fff;
    text-align:center;
    color:#333;
    font-size: rem(14px);
}
.exch-btn{
    width:rem(69px);
    height:rem(36px);
    color: #6fbd00;
    text-align: center;
    border-radius: 0;
    border: 1px solid #6fbd00;
    background: #fff;
}
}
.carts-img{
    width:rem(375px);
    height:rem(170px);
    text-align: center;
    img{
        width:rem(160px);
        height:rem(160px);
        margin-top: rem(10px);
        margin-left:rem(30px);

    }
    p{
        height:rem(27px);
        font-size: rem(20px);
        text-align: center;
        color: rgb(102, 102, 102);
    }
}
.carts-link{
    height:rem(40px);
    margin:0 auto;
    .carts-guan{
        width:rem(118px);
        height:rem(34px);
        border: 1px solid rgb(137, 190, 72);
        display: inline-block;
        border-radius:rem(6px);
        font-size:rem(18px);
        letter-spacing: 1px;
        margin-top: rem(6px);
        color: rgb(137, 190, 72);
    }
}
.cart-bottom{
    background: #fff;
    .cart-assem-title{
        height:rem(44px);
        margin-top: rem(80px);
        p{
            height:rem(24px);
            padding: rem(10px);
            font-size: rem(18px);
            border-bottom: 1px solid #ccc;
        }
    }
    #center.swiper-container.carts{
        background: #fff;
        padding-top: rem(20px);
    }
    #center.swiper-container.carts p{
        text-align: left;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
