@import './reset.scss';
.Top{
    width:100%;
    height:rem(48px);
    background-color:#89be48;
    position: fixed;
    left:0;
    top:0;
    z-index: 5;
    padding: 0 rem(15px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
i{
    font-size:rem(20px);
    line-height:rem(32px);
    color:#fff;
}
.header-title{
    line-height:rem(48px);
    font-size:rem(20px);
    text-align: center;
    color: #fff;
    width: 80%;
    height:rem(48px);
}
.header-right{
    position: absolute;
    right: rem(10px);
    top:rem(16px);
    color:#fff;
    display: flex;
    font-size: rem(16px);
    .i{
        width:rem(34px);
        height: rem(34px);
        position: relative;
        i{
            position: absolute;
            left:rem(13px);
            top:rem(-3px);
        }
    }
    .p{
        width:rem(36px);
    }
}
}
.login-Kon{
    width: 100%;

    height:rem(48px);
}
.login-wrap{
    width: 100%;
    height:rem(51.59px);
    background-color: #f0fae6;
    font-size:rem(12px);
    padding:rem(12px),rem(14px);
    margin-top: rem(48px);
    
 .login{

    width: 100%;
    height:rem(48px);
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    color: #333;
    line-height: 1.5rem;
   }
   .logins{
    color:#88c13e;;
    display:block;
    float:left;
    text-align: center;
    background: #fff;
    border: 1px solid #8bc146;
    width:rem(65px);
    height:rem(33px);
    font-size: rem(16px);
    line-height: rem(33px);
    margin-left: rem(13px);
    margin-top:rem(10px);
   }
   .tips{
    display:block;
    float:left;
    padding-left:14px;
    font-size:rem(14px);
    line-height: rem(26px);
     color: #333;
    width:rem(277px);
    height:rem(36px);
   }
}
.change{
    padding:rem(12px);
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
.ipts{
     padding-left:rem(10px);
    width:rem(261px);
    height:rem(35.59px);
    line-height:rem(35.59px);
    display: inline-block;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    background: #fff;
    text-align:center;
    color:#333;
    font-size: rem(14px);
}
.exch-btn{
    width:rem(69px);
    height:rem(36px);
    color: #6fbd00;
    text-align: center;
    border-radius: 0;
    border: 1px solid #6fbd00;
    background: #fff;
}
}
.carts-img{
    width:rem(375px);
    height:rem(170px);
    text-align: center;
    img{
        width:rem(160px);
        height:rem(160px);
        margin-top: rem(10px);
        margin-left:rem(30px);

    }
    p{
        height:rem(27px);
        font-size: rem(20px);
        text-align: center;
        color: rgb(102, 102, 102);
    }
}
.carts-link{
    height:rem(40px);
    margin:0 auto;
    .carts-guan{
        width:rem(118px);
        height:rem(34px);
        border: 1px solid rgb(137, 190, 72);
        display: inline-block;
        border-radius:rem(6px);
        font-size:rem(18px);
        letter-spacing: 1px;
        margin-top: rem(6px);
        color: rgb(137, 190, 72);
    }
}
.cart-bottom{
    background: #fff;
    .cart-assem-title{
        height:rem(44px);
        margin-top: rem(80px);
        p{
            height:rem(24px);
            padding: rem(10px);
            font-size: rem(18px);
            border-bottom: 1px solid #ccc;
        }
    }
    #center.swiper-container.carts{
        background: #fff;
        padding-top: rem(20px);
    }
    #center.swiper-container.carts p{
        text-align: left;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
.cars-Ggao{
    border-bottom: 1px solid #f2f2f2;

    width:rem(375px);
    height:rem(49px);
    line-height: rem(49px);
    background: #fff;
    font-size: rem(12px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
    a{
        width:rem(375px);
        justify-content: space-between;
        display: inline-block;
                color: #4a4a4a;
        text-decoration: none;
        span{
            background-color: #ab2c2b;
            text-align: center;
            font-size: 1.1rem;
            color: #fff;
            font-size: rem(14px);
            padding: 0 rem(5px);
            margin: 0 rem(8px);
            height:rem(21px);
            width:rem(58px);
        }
    }
}
.cars-main{
    background: #fff;
    padding-bottom: rem(100px);
    .xSping{
        position: relative;
        display: flex;
        height:rem(105px);
    border-bottom: 1px solid #f2f2f2;

        .ip{
            padding-left:rem(20px);
            padding-top:rem(52.5px);
        
        }
        img{
            width:rem(75px);
            height:rem(75px);
            padding-top: rem(20px);
            padding-right:rem(20px);
            padding-left: rem(10px);
        }

        .Mag{
            padding-top: rem(20px);
            display: flex;
            flex:1;
            flex-direction: column;
            padding-right: rem(8px);
            justify-content: space-between;
            p{
                width:100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(3px);
            }
            .iii{
                position: absolute;
                right: rem(20px);
                color:#333;
                i{
                    font-size: rem(20px);
                }
            }
            .quantity-editor {
                height: rem(28px);
                overflow: hidden;
                display: block;
                margin: rem(23px) 0 0 rem(100px);
                padding: 0;
                display: flex;
                position: relative;
                padding-right: 0;
                .tag-act-wrap{
                    border:none;
                }
                span{
                    display: block;
                    border:1px solid #6fbd00;
                    text-align: center;
                    line-height: rem(28px);
                }
                .decrement {
                    width:rem(35px);
                    border-top-left-radius:rem(4px);
                    border-bottom-left-radius:rem(4px);
                    font-size:rem(20px);
                    line-height:rem(26px);
                    right:rem(75px);
                    border-right:none;
                }
                .quantity-num {
                    width: rem(38px);
                    right: rem(36px);
                    z-index: 3;
                }
                .increment {
                    width: rem(35px);
                    border-left:none;
                    border-top-right-radius:rem(4px);
                    border-bottom-right-radius:rem(4px);
                    font-size:rem(20px);
                    right: 0;
                }
            }


        }
        


    }
}
.carts-sping-di{
    padding:rem(10px) rem(0px) rem(30px) rem(10px);
}   

.carts-quanxuan{
    width:rem(375px);
    height:rem(50px);
    position: fixed;
    left: 0;
    bottom:rem(58px);
    display: flex;
    background: #fff;
    z-index: 50;
    .ip{
        padding-left:rem(20px);
        padding-top:rem(25px);
    }
    .carts-quanX{
        padding-left:rem(10px);
        padding-top:rem(25px);
        font-size: rem(14px);
    }
    .carts-Price{
        width:rem(168.75px);
        padding-left:rem(10px);
        font-size: rem(16px);
        float: right;
        justify-content: space-around;
        flex-direction: column;
        display: flex;
        .catr-teS{
            font-size: rem(14px);
        }
        p{
            display: flex;
            justify-content:flex-end; 
        }
    }
    .carts-kuang1{
        position: absolute;
        top:0;
        right:0;
        width:rem(110px);
        height:rem(50px);
        background: #8ec351;
        line-height: rem(50px);
        text-align: center;
        a{
            color:#fff;
        }
        font-size: rem(18px);
    }
    .carts-kuang2{
        position: absolute;
        top:0;
        right:0;
        width:rem(110px);
        height:rem(50px);
        background: #ab2c2b;
        line-height: rem(50px);
        text-align: center;
        color:#fff;
        font-size: rem(18px);
    }
}