@import './reset.scss';
.detail{
    padding-bottom:rem(70px);
}
#tops{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:rem(48px);
    background-color:#89be48;
    // 固定定位:position:fixed;top:XXX;必需写。才知道固定定位在哪里
    position:fixed;
    top:0;
    z-index:999;
    color:#fff;
    font-size:rem(18px);
    box-sizing: border-box;
    padding:0 rem(15px);
    i{
        color:#fff;
    }
}
#detail{
    margin-top: rem(45px);
    padding-bottom: rem(6px);
    background-color: #eee;
    height: rem(375px);
    width: 100%;
    img{
        width: 100%;
        height: rem(375px);
    }
    .swiper-pagination-bullet-active{
        background-color: #80b532;
    }
}
.goodName,.goodPrice{
    text-align:center;
    font-size: rem(20px);
    line-height: rem(30px);
}
.goodName{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: rem(15px);
    span:nth-child(2){
        color:#999;
        font-size: rem(16px);
    }
}
.promptsBox,.promo-item{
    padding: rem(5px);
    box-sizing: border-box;
    p{
        border-top: 1px solid #ccc;
        line-height: rem(45px);
        font-size: rem(12px);
        span:last-child{
            margin-left: rem(5px);
        }
    }
}
.saleType{
   text-align: center;
   margin-bottom: rem(20px);
   span{
       padding:0 rem(5px);
   }
}
.promo-item{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: rem(10px);
    padding:0 rem(5px);
    box-sizing: border-box;
    line-height: rem(42px);
    .tag-promo{
        background-color: #CD060F;
        color:#fff;
    }
    a{
        color:#CD060F;
        font-size: rem(12px);
        margin-left: rem(5px);
    }
}
.numbers{
    width:rem(375px);
    height:rem(42px);
    .shul{
    display:block;
    float:left;
    width:rem(44px);
    height:rem(27px);
    font-size:rem(14px);
    margin-left:rem(16px);
    line-height:rem(27px);
    color:rgb(107,107,107);
    }
    .wrap{
        float:left;
        display:block;
        width:rem(100px);
        height:rem(27px);
        border:1px solid #ccc;
        button{
            border:none;
        }
       .jian{
          float:left;
        width:rem(27px);
        height:rem(27px);
        background-color:#EEE;
       }
       .add{
          float:left;
         width:rem(27px);
        height:rem(27px);
        background-color:#EEE;
       }
       .qtys{ 
        float:left;
        width:rem(37px);
        height:rem(26px);
        color:black;
        font-size:rem(12px);
        text-align:center;
        line-height:rem(27px);
        border:1px solid #ccc;
    }

    }
}
h6{color:rgb(204, 0, 0);font-size:rem(14px);
    padding-left:rem(50px);
    padding-top:rem(16px);}
.mattop{
    // margin:rem(4px) rem(3px);
    width:rem(375px);
    height:rem(213.5px);
    position:relative;
    .titBox{
        width:rem(365px);
        height:rem(30px);
        margin-left: rem(10px);
    }
    .tit{
        line-height:rem(30px);
        box-sizing:border-box;
        text-align:left;
        font-size:rem(14px);
        span{
            border-left:2px solid #89be48;
            padding-left: rem(10px);
        }
    }
}
#center{
    background-color: #eee;
    height: rem(180px);
    width: rem(375px);
    p{
        text-align:center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    img{
        width: rem(118.5px);
        height: rem(118.5px);
        margin-right:rem(5px);
    }
    .swiper-slide{
        width:rem(375px);
        height:rem(163px);
        font-size:rem(12px);
    }
    .swiper-pagination-bullet-active{
        background-color: #80b532;
    }
}
.ts{img{width:rem(375px);height:rem(191px);}}
.desc{
    top:rem(48px);
    left: 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:rem(375px);
    height:rem(40px);
    padding: 0 rem(15px);
    box-sizing: border-box;
    // position:fixed;top:rem(200px);
    span{
        display: box;
        padding: rem(4px) rem(12px);
    }
    background-color:#fff;
    margin-top: rem(7px);
}
.HeHe{background-color:#89be48;
    color:#FFF;
    border-radius:rem(10px);}
.xiangqing{
    margin-top: rem(40px);
    li{img{width:rem(375px);height:rem(375px);}}
}
.pls{
    width:rem(370px);
    height:rem(26px);
    margin-bottom:rem(10px);
    font-size: rem(16px);
    display:block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
        color:#ccc;
    }
}
.pinglun,.descss{
    margin-top: rem(40px);
    color:#333;
    li{
        width:rem(375px);
        padding:rem(15px) rem(10px);
        box-sizing: border-box;
        .uMsg{
            line-height: rem(30px);
            span{
                margin-right: rem(10px);
            }
            span:nth-child(n+3){
                color:#999;
            }
        }
        .commitContent{
            line-height: rem(24px);
            font-size: rem(14px);
        }
        .buyWhat{
            line-height: rem(34px);
            color:#999;
        }
    }
    text-align:left;
    .lookMore{
        text-align: center;
        border-top: 1px solid #ccc;
        height: rem(36px);
        line-height: rem(36px);
        font-size: rem(16px);
    }
}
// .descss{h4{width:rem(360px);height:rem(16px);color:#ccc;font-size:rem(12px);}}
.bottoms{
    width:rem(374px);height:rem(49px);
    position:fixed;
    bottom:0px;
    z-index: 99;
    background-color:#f8f8f8;
    border-top:1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 rem(5px);
    div{
        width:rem(48px);
        height:rem(40px);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        p{
            font-size:rem(14px);
            
        }
        color:#333;
        i{
            color:#ccc;
            font-size:rem(22px);
        }

}
.car{width:rem(77px);height:rem(40px);border:1px solid #58bc58;text-align:center;line-height:rem(40px);i{color:#58bc58;}position:relative;border-radius:rem(10px);
    .addcar{position:absolute;
        top:rem(5px);left:rem(54px);
        background-color:#f59130;border:2px solid #fff;border-radius:50%;display:block;width:rem(20px);height:rem(20px);text-align:center;line-height:rem(20px);}}
}

.buttons{width:rem(168px);height:rem(42px);background-color:#009d42;color:#FFF;font-size:rem(18px);border-radius:rem(10px);}
.guige{
    margin-top: rem(10px);
    background-color: #fff;
    div{
        width:rem(375px);
        height:rem(36px);
        color:#6b6b6b;
        font-size:rem(14px);
        border-top: 1px solid #ccc;
        line-height: rem(36px);
        padding-left: rem(10px);
        box-sizing: border-box;
    }
    .noBox{
        border:none;
    }
}