@import './reset.scss';
.detail{
    padding-bottom:rem(100px);
}
#tops{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:rem(50px);
    background-color:#89be48;
    // 固定定位:position:fixed;top:XXX;必需写。才知道固定定位在哪里
    position:fixed;
    top:0;
    z-index:999;
    color:#fff;
    font-size:rem(18px);
}
.fa.fa-chevron-left{
    color:#fff;
    margin-left:rem(15px);
}
.fa.fa-share-square-o{margin-right:rem(45px);}
#detail{
    margin-top: rem(45px);
    padding-bottom: rem(6px);
    background-color: #eee;
     height: rem(250px);
    width: 100%;
    img{
        width: 100%;
        height: rem(250px);
    }
    .swiper-pagination-bullet-active{
        background-color: #80b532;
    }
}
h3,h4{text-align:center;font-size:rem(16px);line-height:rem(22px);margin-top:rem(3px);}
.promo-item{
    width:rem(368px);
    height:rem(40px);
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align:center;
    font-size:rem(14px);
.tag-promo {
    color:#fff;
    display:block;
    float:left;
    width:rem(54px);
    height:rem(32px);
    background-color:#cd060f;
    line-height:rem(32px);
    margin-top:rem(4px);
    margin-left:rem(16px);
}
.m-txt{color:#cd060f;line-height:rem(40px);}
}
.numbers{
    width:rem(375px);
    height:rem(42px);
    .shul{
    display:block;
    float:left;
    width:rem(44px);
    height:rem(27px);
    font-size:rem(14px);
    margin-left:rem(16px);
    line-height:rem(27px);
    color:rgb(107,107,107);
    }
    .wrap{
        float:left;
        display:block;
        width:rem(100px);
        height:rem(27px);
       .jian{
          float:left;
        width:rem(27px);
        height:rem(27px);
        background-color:#EEE;
       }
       .add{
          float:left;
         width:rem(27px);
        height:rem(27px);
        background-color:#EEE;
       }
       .qtys{ 
        float:left;
        width:rem(37px);
        height:rem(26px);
        color:black;
        font-size:rem(12px);
        text-align:center;
        line-height:rem(27px);
        border:1px solid #ccc;
    }

    }
}
h6{color:rgb(204, 0, 0);font-size:rem(14px);
    padding-left:rem(50px);
    padding-top:rem(16px);}
.mattop{
    // margin:rem(4px) rem(3px);
    width:rem(375px);
    height:rem(213.5px);
    position:relative;
    .tit{
        width:rem(375px);
        height:rem(30px);
        line-height:rem(30px);
        border-left:2px solid #89be48;
        box-sizing:border-box;
        // margin-left:rem(16px);
        text-align:left;
        font-size:rem(14px);
    }
}
#center{
    // margin-top: rem(45px);
    // padding-bottom: rem(6px);
    background-color: #eee;
    height: rem(180px);
    width: rem(375px);
    p{text-align:center;}
    img{
        width: rem(118.5px);
        height: rem(118.5px);
        margin-right:rem(5px);
    }
    .swiper-slide{
        width:rem(375px);
        height:rem(163px);
        font-size:rem(12px);
    }
    .swiper-pagination-bullet-active{
        background-color: #80b532;
    }
}
.ts{img{width:rem(375px);height:rem(191px);}}
.desc{display:flex;justify-content:space-between;align-items:center;width:rem(375px);height:rem(40px);
    // position:fixed;top:rem(200px);
    background-color:#ddd;}
.HeHe{background-color:#89be48;
    border:2px solid #89be48;
    color:#FFF;
    border-radius:rem(10px);display:inline-block;}
.xiangqing{
    li{img{width:rem(375px);height:rem(375px);}}
}
.p1s{width:rem(370px);height:rem(26px);margin-bottom:rem(10px);display:block;}
.pinglun,.descss{li{width:rem(375px);height:rem(80px);span{margin-right:rem(9px);}h4{width:rem(360px);height:rem(20px);color:#ccc;font-size:rem(12px);overflow:hidden;}}text-align:left;}
// .descss{h4{width:rem(360px);height:rem(16px);color:#ccc;font-size:rem(12px);}}
.bottoms{
    width:rem(374px);height:rem(49px);
    position:fixed;
    bottom:0px;
    z-index: 99;
    background-color:#f8f8f8;
    border-top:1px solid #ccc;
    div{width:rem(48px);height:rem(40px);float:left;
            font-size:rem(16px);
        i{margin-left:rem(5px);color:#CCC;font-size:rem(22px);}

}
.car{width:rem(77px);height:rem(40px);border:1px solid #58bc58;text-align:center;line-height:rem(40px);i{color:#58bc58;}position:relative;
    .addcar{position:absolute;
        top:rem(5px);left:rem(54px);
        background-color:#f59130;border:2px solid #fff;border-radius:50%;display:block;width:rem(20px);height:rem(20px);text-align:center;line-height:rem(20px);}}
}

.buttons{width:rem(168px);height:rem(42px);background-color:#009d42;color:#FFF;font-size:rem(18px); margin-left:rem(12px);}
.guige{div{width:rem(375px);height:rem(36px);color:#6b6b6b;font-size:rem(14px);}}