@import './reset.scss';
.commonFooter{
    width: rem(375px);
    height: rem(55px);
    background: #fff;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    display: flex;
    background:#fff;
    z-index:99;
    .box{
        width: 20%;
        height: 100%;
        font-size:rem(12px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:#ababab;
        i{
            font-size:rem(24px) !important;
        }
    }
    .selectedOne{
        color:#009c42;
    }
}