@import './reset.scss';
.commonFooter{
    .shopCount{
        background: #f59130;
        display: inline-block;
        color: #fff;
        font-size: rem(12px);
        width: rem(20px);
        height: rem(20px);
        line-height: rem(20px);
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: rem(86px);
    }
    width: rem(375px);
    height: rem(55px);
    background: #fff;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    display: flex;
    background:#fff;
    z-index:99;
    .box{
        width: 20%;
        height: 100%;
        font-size:rem(12px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:#ababab;
        i{
            font-size:rem(24px) !important;
        }
    }
    .selectedOne{
        color:#009c42;
    }
}