@import './reset.scss';
footer{
    width: rem(375px);
    height: rem(55px);
    position: fixed;
    bottom: 0;
    display: flex;
    div{
        width: 20%;
        height: 100%;
        font-size:rem(12px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:#ababab;
        i{
            font-size:rem(24px) !important;
        }
    }
    .sele{
        color:#009c42;
    }
}