@import './reset.scss';
.toTop{
    position: fixed;
    bottom: rem(100px);
    right: rem(20px);
    width: rem(36px);
    height: rem(36px);
    opacity: .9;
    color:#fff;
    font-size:rem(20px);
    text-align: center;
    line-height: rem(30px);
    background-color: #333;
    border-radius: 50%;
    z-index:99999;
}
.stop {
    padding: 0;
    width: 100%;
    background: #89be48;
    position: fixed;
    top: 0;
    height:rem(48px);
    z-index: 999;
    min-width: rem(320px);
    max-width: rem(640px);
    margin: auto;
.header-content {
    width: 100%;
    height:rem(48px);
    margin: 0 auto;
    position: relative;
}
.header-title {
    margin: 0 auto;
    line-height:rem(48px);
    font-size: rem(20px);
    text-align: center;
    color: #fff;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
}
.list {  
    margin-top:rem(54px);
    display: flex;
    justify-content: space-between;
    padding:0 rem(6px);
    box-sizing: border-box;
    flex-wrap: wrap;
    li {
        width:rem(176px);
        .tp{
            width:rem(172px);
            height:rem(223.55px);
        }
        .name{
        font-size:rem(14px);
        width:rem(178px);
        line-height:rem(32px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
        // .desc{
        //     line-height:rem(18px);
            .price{
                color:#c00;
                font-size:rem(18px);
                line-height: rem(28px);
            }
            .qty{
                color:#999;
                font-size:rem(12px);
                float: right;
                line-height: rem(28px);
            }
        // }
    }
}



