@import './reset.scss';
.stop {
    padding: 0;
    width: 100%;
    background: #89be48;
    position: fixed;
    top: 0;
    height:rem(48px);
    z-index: 999;
    min-width: rem(320px);
    max-width: rem(640px);
    margin: auto;
.header-content {
    width: 100%;
    height:rem(48px);
    margin: 0 auto;
    position: relative;
}
.header-title {
    margin: 0 auto;
    line-height:rem(48px);
    font-size: rem(20px);
    text-align: center;
    color: #fff;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
}
.list {  
    margin-top:rem(34px);
    li {width:rem(176px);height:rem(288px);float:left;margin-right:rem(6px);padding-left:rem(5px);
    .tp{width:rem(172px);height:rem(223.55px);}
   p{font-size:rem(14px);height:rem(16px);width:rem(178px);line-height:rem(16px);}
   .desc{line-height:rem(18px);.price{color:red;font-size:rem(14px);margin-right:rem(20px);em{padding-left:rem(5px);}}
   .qty{color:black;font-size:rem(16px);em{padding-left:rem(5px);}}

}
    }
}



