@import './reset.scss';
#banner{
    margin-top: rem(96px);
    padding-bottom: rem(4px);
    background-color: #eee;
    width: 100%;
    img{
        width: 100%;
        height: rem(250px);
    }
    .swiper-pagination-bullet-active{
        background-color: #80b532;
    }
}
// .others:nth-child(-n + 11){
//     padding-bottom:rem(4px);
//     background-color: #eee;
// }

