@import './reset.scss';
.Llist{
	background: #f2f2f2;
}
.Topp1{
	background: #89be48;
	position: fixed;
	top:0;
	left:0;
	text-align: center;
	height:rem(48px);
	line-height:rem(48px);
	width:rem(375px);
	font-size: rem(22px);
	color:#fff;
	z-index: 9;
	.TLeft{
		a{
			width:rem(37px);
		}
		float:left;
		.fa.fa-chevron-left{
			color:#fff;
			font-size: rem(30px);
			margin-left: rem(10px);
		}
	}
}
.qieHuan{
	position: fixed;
	top:rem(48px);
	left:0;
	display: flex;
	background: #fff;
	font-size: rem(18px);
	height:rem(46px);
	width: rem(375px);
	text-align: center;
	margin-bottom: rem(30px);
	flex:1;
	.HeiHei{
		color:red;
		border-bottom:1px solid #ccc;
	}
	li{
		text-align: center;
		width:rem(120px);
		height:rem(36px);
		margin-top: 5px;
		text-align: center;
		span{
			display: block;
			border-right: 1px solid #f2f2f2;
			height: rem(16px);
			color: #666;
			font-size: rem(16px);
		}
	}
}
.KongKong{
	width:rem(96px);
	height:rem(96px);
}
.XunH{
	background: #f2f2f2;
	// margin-top: rem(96px);
	// margin-bottom: rem(100px);
	.danDu{
		display:block;
		background: #fff;
		width:rem(360px);
		margin-top: rem(30px);
		margin-left: rem(7.5px);
		.Zp{
			text-align: center;
		}
		img{
			width:rem(360px);
			height:rem(163.3px);
		}
	}
	.PPP{
		height:rem(37px);
		background: #fff;
		p{
			font-size:rem(14px);
			margin-left: rem(10px);
		}
	}
	.PriCt{
		display: flex;
		justify-content: space-between;
		font-size: rem(14px);
		.PriCt-Left{
			margin-left: rem(10px);
		}
	}
	.PriCt-Right{
		margin-right: rem(10px);
	}
}
.daztiKong{
	position: absolute;
	left:0;
	top: rem(100px);
	width: 100%;
    // height:rem(420px);
    // line-height: rem(420px);
    color: #2e2e2e;
    background-size: 54%!important;
    font-size:rem(30px);
	text-align: center;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASgAAAEoCAMAAADc2ZwrAAAA81BMV…V7Fue5gPlaS8P4+2Gqw8N/Xh8PR57m7hJl9KIgDzLwaBzXP9G/cHMHaatgAAAAAElFTkSuQmCC) no-repeat;
    background-position: 50% rem(12px);
    p{
    	padding-top: rem(210px);
    }
}
