@import './reset.scss';
.setting{
    .logOut{
        width: rem(323px);
        height: rem(48px);
        margin: rem(30px) auto;
        display: block;
        border-radius:rem(10px);
        background-color: #ee7621;
        color:#fff;
        font-size: rem(18px);
        border:none;
    }
    .settingTop{
        width: 100%;
        height: rem(48px);
        background: #89be48;
        position: fixed;
        top: 0;
        color:#fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding:0 rem(10px);
        .settingCenter{
            font-size: rem(20px);
        }
        i{
            font-size:rem(26px);
            color:#fff;
        }
    }
    .settingBox{
        margin-top: rem(48px);
        .setbox{
            width: 100%;
            height: rem(62px);
            background-color: #fff;
            margin-bottom: rem(10px);
            color:#666;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size:rem(14px);
            padding:0 rem(10px);
            box-sizing: border-box;
            i{
                font-size: rem(26px);
                color:#ccc;
            }
            span{
                font-size: rem(12px);
                color:#ccc;                
                padding-left: rem(55px);
            }
        }

    }
}